---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="container mx-auto p-6 w-[750px]">
			<h1 class="text-4xl font-bold text-left mb-6">Hi 👋</h1>
			<p class="mb-4">
			  Welcome to my <a href="https://astro.build/" class="text-blue-600 hover:text-blue-800">Astro 🚀</a> blog starter template...
			</p>
			<p class="mb-4">
			  This template comes with a few integrations already like <span class="bg-gray-200 rounded p-1">Tailwind CSS</span>, <span class="bg-gray-200 rounded p-1">Markdown X (MDX)</span> support and sitemap and rss generation.
			</p>
	  
			<p class="font-semibold mb-2">This template includes:</p>
			<ul class="list-disc pl-5 mb-4">

<li><strong>Blazing fast</strong> - Amazing performance scores out of the box</li>

<li><strong>Ultra low dependency</strong> - Built on Astro for minimal bloat</li>  

<li><strong>Simple code</strong> - No complex pathways or millions of components</li>

<li><strong>Simple configuration</strong> - Customize as needed with easy config</li>

<li><strong>Basic functionality included</strong> - Built in RSS, sitemap, SEO, and more</li>

<li><strong>Easy to customize</strong> - Refactor and modify code as required</li>

<li><strong>Latest Astro</strong> - Upgraded to Astro 4.0.9</li>

<li><strong>Tailwind CSS</strong> - Or use your own CSS framework</li>

<li><strong>Image optimization</strong> - Leverage Astro/Image for best practices</li>

<li><strong>RSS/Sitemap</strong> - Out of the box with Astro/rss and Astro/sitemap</li>  

<li><strong>Free!</strong> - 100% free to use and modify under the MIT licence</li>

</ul>

<p class="mb-4">
	If you find this template useful, please support continued development by <a href="https://buymeacoffee.com/sureshkhirwadkar" class="text-blue-600 hover:text-blue-800">buying me a coffee ☕️</a>.
  </p>

  <p class="mb-4">
	Looking for more templates? Check out <a href="https://sureshkhirwadkar.dev" class="text-blue-600 hover:text-blue-800">my other work</a> on my dev website.
  </p>

		</main>
		<Footer />
	</body>
</html>
